/* Universal Styles */

html {
  font-family: "Verdana", sans-serif;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

h1 {
	color: white;
	font-size:50px;
	text-align: center;
	padding-bottom: 30px;
}

a {
	font-size: 16px;
	color: aquamarine;
	text-decoration: underline;
	text-align: center;
}

p {
	text-align: center;
	padding-bottom: 30px;
}

h2	{
	color: gray;
	font-size: 21px;
	padding-bottom: 30px;
}

#personal-travel-guide h2 {
	text-align: center;
}

footer	{
	display: flex;
	justify-content: flex-end;
}

video {
	display: block;
	margin: auto;
}

img {
	display:block;
	margin: auto;
	padding:30px 30px;
}

i {
	z-index: 3;
}